

<div class="sidebar" th:fragment="frg-admin-sidebar">
    <nav class="nav flex-column mt-5">
        <h5 class="text-white ms-3 mb-4"> Welcome Admin </h5>
        <a href="/admin/dashboard" class="nav-link">
            <i class="bi bi-house-fill"></i>
            <span class="ms-2"> Dashboard </span>
        </a>
        <a href="/admin/courses" class="nav-link">
            <i class="bi bi-book-fill"></i>
            <span class="ms-2"> Courses </span>
        </a>
        <a href="/admin/categories" class="nav-link">
            <i class="bi bi-collection-fill"></i>
            <span class="ms-2"> Categories </span>
        </a>
        <a href="/admin/users" class="nav-link">
            <i class="bi bi-people-fill"></i>
            <span class="ms-2"> Users </span>
        </a>
        <a href="/admin/students" class="nav-link">
            <i class="bi bi-mortarboard-fill"></i>
            <span class="ms-2"> Students </span>
        </a>
        <a href="/admin/orders" class="nav-link">
            <i class="bi bi-bag-check-fill"></i>
            <span class="ms-2"> Orders </span>
        </a>
        <a href="/admin/leads" class="nav-link">
            <i class="bi bi-funnel-fill"></i>
            <span class="ms-2"> Leads </span>
        </a>
        <a href="/admin/enquiries" class="nav-link">
            <i class="bi bi-question-circle-fill"></i>
            <span class="ms-2"> Enquiries </span>
        </a>
        <a href="/admin/feedback" class="nav-link">
            <i class="bi bi-chat-dots-fill"></i>
            <span class="ms-2"> Feedback </span>
        </a>
        <a href="/admin/notifications" class="nav-link">
            <i class="bi bi-bell-fill"></i>
            <span class="ms-2"> Notifications </span>
        </a>
        <a href="/logout" class="nav-link">
            <i class="bi bi-box-arrow-in-right"></i>
            <span class="ms-2"> Logout </span>
        </a>
    </nav>
</div>
