<header th:fragment="crm-header">
    <nav class="navbar navbar-expand-lg navbar-dark  bg-dark shadow-sm">
        <div class="container">

            <!-- Logo / Brand -->
            <a class="navbar-brand d-flex align-items-center" href="/index">
                <h4 class="mb-0 fw-bold text-white">EduTake</h4>
            </a>

            <!-- Toggle Button (Mobile) -->
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar Content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Left Menu -->
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center">

                    <li class="nav-item">
                        <a class="nav-link text-white px-3 fw-semibold" href="/index">Home</a>
                    </li>

                    <!-- Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white px-3 fw-semibold"
                           href="#" role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            More
                        </a>

                        <ul class="dropdown-menu dropdown-menu-end shadow border-0">
                            <li>
                                <a class="dropdown-item" href="#" onclick="return confirm('Online classes will conducted sonn...')">Online Batch Details</a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" href="#" onclick="return confirm('upadting on !')">About Us</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" onclick="return confirm('updating on !')">Contact Us</a>
                            </li>
                        </ul>
                    </li>

                </ul>

                <!-- Right Buttons -->
                <div class="d-flex ms-lg-4 mt-3 mt-lg-0 gap-2">
                    <a href="/login" class="btn btn-outline-light px-4 fw-semibold">
                        Login
                    </a>
                    <a href="/register" class="btn btn-info px-4 fw-semibold">
                        Register
                    </a>
                </div>

            </div>
        </div>
    </nav>
</header>